DATABASE_URL="postgresql://user:password@localhost:5432/bookspace"
JWT_SECRET="bookspace-jwt-secret-2026"
JWT_REFRESH_SECRET="bookspace-refresh-secret-2026"
PORT=3000
CORS_ORIGIN="http://localhost:5173"
